*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    padding: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.principal{
    border: 1px solid black;
    max-width: 1000px;
    width: 100%;
    display: flex;
}

.aside{
    flex: 1 1;
    background:#302E2E;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.aside h3{
    text-decoration: underline;
    margin-bottom: 10px;
    color: floralwhite;
}

.referencias{
    margin-top: 30px;
}

.section{
    flex: 3 1;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.imag{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    height: 130px;
}

.imag img{
    border-radius: 150px;
    width: 150px;
    height: 150px;
    margin-top: 25px;
}

p{
    text-align: justify;
    color: aliceblue;
}

ul{
    list-style: none;
}

.contacto{
    margin-top: 25px;
}

.lista-contactos > li{
    display: flex;
    
}

.lista-contactos p{
    margin-left: 15px;
}

i{
    color: aliceblue;
}

.lista-referencias > li{
    display: flex;
    margin-top: 10px;
}

.lista-referencias p{
    color: aliceblue;
    margin-left: 10px;
}

.lista-referencias p{
    margin-left: 15px;
    margin-bottom: 1px;
}

i{
    color: aliceblue;
}

.arti{
    display: flex;
    justify-content: center;
    background:#302E2E;
    color: aliceblue;
    height: 100px;
    padding: 25px;
}

.informacion{
    margin-top: 25px;
    margin-bottom: 25px;
}

.DatosPer{
    padding: 15px;
}

.Educacion{
    font-size: 20px;
    font-family: monospace;
    margin-bottom: 15px;
}

.trabajos{
    color: aliceblue;
}

.defini{
    text-decoration: none;
    text-align: center;
    font-size: 30px;
}

.habil{
    margin-left: 25px;
}

.pa{
    color: black;
    font: 10px;
    text-decoration: underline;
}  

.sobremi{
    margin-top: 30px;
}

.portafolio{
    text-align: center;
    margin-top: 50px;
}

.proyect{
    text-align: center;
}

/*Media quuery*/
@media all and (max-width:900px){
    .principal{
        flex-direction: column;
    }
}












